body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/background.jpeg') no-repeat center center fixed; /* Add background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-color: #f4f4f4;
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

header {
    background-color: #9a8383;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    margin: 20px;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center; /* Center text */
}

.greeting {
    margin: 20px;
    font-size: 3em;
}

.guest-name {
    font-weight: bold;
    font-size: 3em;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}